body {
  min-height: 1350px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.jumbotron {
   margin-top: 40px;
}

.img-responsive {
    margin: 0 auto;
    border-radius: 10px;
}

.radio-inline {
   margin-left: 20px;
}