body {
  min-height: 1500px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.jumbotron {
   margin-top: 40px;
}

.img-responsive {
    margin: 0 auto;
    border-radius: 10px;
}

.radio-inline {
   margin-left: 20px;
}

#search {
   margin-top: 45px;
   margin-bottom: -45px;
}

.img-thumbnail {
   width: 350px;
   height: 300px;
   margin: 15px;
}

.thumbnail {
   width: 350px;
   height: 300px;
   margin: 15px;
   display: inline-block;
   position: relative;
   overflow: hidden;
}

.caption-btm {
    background: rgba(0, 0, 0, 0.6);
    width: 90%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    color: #fff;
    display: none;
    width: 100%;
}

.caption-btm p {
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
}